<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Select Countries</ion-title>

    <ion-buttons slot="secondary">
      <ion-button fill="solid" color="primary" (click)="clearSelection()">Clear
      </ion-button>

      <ion-button fill="solid" color="danger" (click)="close()">Close
      </ion-button>
    </ion-buttons>

  </ion-toolbar>

  <ion-toolbar color="primary">
    <ion-searchbar placeholder="Search" [(ngModel)]="search" (ionChange)="filter()" (ionClear)="clear()"
      [debounce]="10">
    </ion-searchbar>

    <!-- <ion-buttons slot="primary">
      <ion-button (click)="clickedSearch()">
        <ion-icon slot="icon-only" name="close-circle"></ion-icon>
      </ion-button>
    </ion-buttons> -->

  </ion-toolbar>

  <ion-toolbar>
    <ion-item>
      <ion-label>Sort</ion-label>
      <ion-select placeholder="Select" [value]="'default'" (ionChange)="sortSelectionChanged($event)">
        <ion-select-option value="default">Default (Checked first)</ion-select-option>
        <ion-select-option value="asc">Country Name (A-Z)</ion-select-option>
        <ion-select-option value="desc">Country Name (Z-A)</ion-select-option>
        <ion-select-option value="deaths-low-high">Deaths (Low-High)</ion-select-option>
        <ion-select-option value="deaths-high-low">Deaths (High-Low)</ion-select-option>
      </ion-select>
    </ion-item>

    <!-- <ion-grid>
      <ion-row>
        <ion-col>
          
        </ion-col>
      </ion-row>
    </ion-grid> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- 
  <ion-label class="ion-text-wrap">
    <ion-text color="primary">
      <h3>H3 Primary Title</h3>
    </ion-text>
    <p>Paragraph line 1</p>
    <ion-text color="secondary">
      <p>Paragraph line 2 secondary</p>
    </ion-text>
  </ion-label> -->

  <ion-list>
    <ion-item *ngFor="let country of countries">
      <ion-label>
        <ion-text>
          <h2>{{country.countryName}}</h2>
        </ion-text>
        <p>Total Deaths: {{country.deaths}}</p>
      </ion-label>
      <ion-checkbox slot="start" [(ngModel)]="country.isChecked"></ion-checkbox>
      <ion-avatar slot="end">
        <img [src]="country.flag" />
      </ion-avatar>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="saveFilter()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>